@model IEnumerable<INSFIT.Models.Dieta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampoImgem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampodePesquisa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPublicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampoImgem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampodePesquisa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPublicacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUser)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Dieta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Dieta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Dieta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
