@model INSFIT.Models.Feed

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Feed</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampoTexto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampoTexto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampoImgem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampoImgem)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPublicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPublicacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_Feed">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
