@model IEnumerable<INSFIT.Models.Feed>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/Feed.css">
<link rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous" />

    <h1 id="descricao">Feed</h1>
    <p>
    <a asp-action="Create" class="publicar">Publicar</a>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#7da62c" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
    </svg>
    </p>
    
<!--<div class="table table-borderless">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CampoTexto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampoImgem)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DataPublicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
        </tr>
    </thead>
</div>-->

<body>

    @foreach (var item in Model)
    {
<div class="publications">
<p></p>
    <div class="nomeUsuario">
                <strong>Usuario</strong>
    </div>
    <div class="dataPublicacao">
          <p>
             <td>
                  @Html.DisplayFor(modelItem => item.DataPublicacao)
             </td>
          </p>
    </div>
    <div class="postagem">
    <p>
                <td>
                    @Html.DisplayFor(modelItem => item.CampoTexto)
                </td>
    <p></p>
                <td>
                    <img src=".\imagens\@{ @item.CampoImgem }" width="300" />
                </td>

    </p>
    </div>
    <p></p>
            <button class="btn btn-curtir">
                <span class="btn-icone btn--icone-curtir">
                    <span class="fa fa-heart"></span>
                </span>
                <span class="btn-icone btn--icone-curtido">
                    <span class="fa fa-heart"></span>
                </span>
                <span class="btn-conteudo btn-conteudo--curtido">Curtido</span>
                <span class="btn-conteudo btn-conteudo--curtir">Curtir</span>
            </button>

    <p></p>
    <div class="comentarios">
    <p></p>
                <strong>&nbsp;&nbsp;&nbsp;&nbsp;Comentarios</strong>
    <p></p>
                <strong>&nbsp;&nbsp;&nbsp;&nbsp;Usuario 02</strong>
    <p>
                <td>
                        &nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(modelItem => item.Comentario)
                </td>
    </p>
    </div>
    <p></p>
    <div class="opcoes">
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id_Feed">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id_Feed">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id_Feed">Delete</a>
                </td>
    </div>

    <p></p>
    </div>
        }
    <script type="text/javascript" src="~/js/Feed.js"></script>
</body>