@model IEnumerable<INSFIT.Models.Feed>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/Feed.css">
<script type="text/javascript" src="~/js/Feed.js"></script>

    <h1 id="descricao">Feed</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>

<!--<div class="table table-borderless">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CampoTexto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampoImgem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampodePesquisa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPublicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
        </tr>
    </thead>
</div>-->

<body>
    @foreach (var item in Model)
    {
<div class="publications">
<p></p>

<div class="nomeUsuario">
    <strong>Usuario</strong>
</div>
    <div class="dataPublicacao">
          <p>
             <td>
                  @Html.DisplayFor(modelItem => item.DataPublicacao)
             </td>
          </p>
    </div>
    <div class="postagem">
    <p>
                <td>
                    @Html.DisplayFor(modelItem => item.CampoTexto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CampoImgem)
                </td>
    </p>
            </div>
    <div class="outros">
    <p>
                <td>
                     @Html.DisplayFor(modelItem => item.CampodePesquisa)
                </td>
    </p>
            </div>

            <div class="like">
                <button id="curtir">
                    Curtir
                    <div class="number" id="number">0</div>
                </button>
            </div>

    <div class="comentarios"> Comentarios
                <td>
                    @Html.DisplayFor(modelItem => item.Comentario)
                </td>
            </div>

    <div class="opcoes">
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id_Feed">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id_Feed">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id_Feed">Delete</a>
                </td>
    </div>

 <p></p>
</div>
        }
</body>