@model IEnumerable<INSFIT.Models.Feed>

@{
    ViewData["Title"] = "Index";
}

<h1>Feed</h1>

<link rel="stylesheet" href="~/css/Feed.css">

<p>
    <a asp-action="Create">Create New</a>
</p>
<!--<div class="table table-borderless">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CampoTexto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampoImgem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampodePesquisa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPublicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
        </tr>
    </thead>-->
</div>

<body>
    @foreach (var item in Model)
    {
<div class="publications">
    <p id="postagem">
                <td>
                    @Html.DisplayFor(modelItem => item.CampoTexto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CampoImgem)
                </td>
    </p>
    <p id="outros">
                <td>
                    @Html.DisplayFor(modelItem => item.CampodePesquisa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPublicacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentario)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id_Feed">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id_Feed">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id_Feed">Delete</a>
                </td>
    </p>

    <div class="btn-group">
        <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like</button>
        <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button>
    </div>
</div>
        }
</body>