@model IEnumerable<INSFIT.Models.Feed>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CampoTexto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampoImgem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampodePesquisa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPublicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CampoTexto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampoImgem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampodePesquisa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPublicacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUser)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Feed">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Feed">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Feed">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<!--bootstrap feed-->
<link rel="stylesheet" href="~/css/Feed.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdeys">
    <div class="col-md-7 col-md-offset-2">
        <div class="panel">
            <div class="panel-body">
                <textarea class="form-control" rows="2" placeholder="What are you thinking?"></textarea>
                <div class="mar-top clearfix">
                    <button class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Share</button>
                    <a class="btn btn-trans btn-icon fa fa-video-camera add-tooltip" href="#" data-original-title="Add Video" data-toggle="tooltip"></a>
                    <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#" data-original-title="Add Photo" data-toggle="tooltip"></a>
                    <a class="btn btn-trans btn-icon fa fa-file add-tooltip" href="#" data-original-title="Add File" data-toggle="tooltip"></a>
                </div>
            </div>
        </div>
        <div class="panel panel-body">
            <!-- Timeline -->
            <!--===================================================-->
            <div class="timeline">

                <!-- Timeline header -->
                <div class="timeline-header">
                    <div class="timeline-header-title bg-success">Now</div>
                </div>

                <div class="timeline-entry">
                    <div class="timeline-stat">
                        <div class="timeline-icon">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile picture">
                        </div>
                        <div class="timeline-time">30 Min ago</div>
                    </div>
                    <div class="timeline-label">
                        <p class="mar-no pad-btm"><a href="#" class="btn-link text-semibold">Maria J.</a> shared an image</p>
                        <div class="img-holder">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="timeline-entry">
                    <div class="timeline-stat">
                        <div class="timeline-icon bg-danger">
                            <i class="fa fa-building fa-lg"></i>
                        </div>
                        <div class="timeline-time">2 Hours ago</div>
                    </div>
                    <div class="timeline-label">
                        <h4 class="mar-no pad-btm"><a href="#" class="text-danger">Job Meeting</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                    </div>
                </div>
                <div class="timeline-entry">
                    <div class="timeline-stat">
                        <div class="timeline-icon">
                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Profile picture">
                        </div>
                        <div class="timeline-time">3 Hours ago</div>
                    </div>
                    <div class="timeline-label">
                        <p class="mar-no pad-btm">
                            <a href="#" class="btn-link text-semibold">Lisa D.</a> commented on <a href="#">The Article</a>
                        </p>
                        <blockquote class="bq-sm bq-open">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</blockquote>
                    </div>
                </div>
                <div class="timeline-entry">
                    <div class="timeline-stat">
                        <div class="timeline-icon bg-purple">
                            <i class="fa fa-check fa-lg"></i>
                        </div>
                        <div class="timeline-time">5 Hours ago</div>
                    </div>
                    <div class="timeline-label">
                        <img class="img-xs img-circle" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Profile picture">
                        <a href="#" class="btn-link text-semibold">Bobby Marz</a> followed you.
                    </div>
                </div>

                <!-- Timeline header -->
                <div class="timeline-header">
                    <div class="timeline-header-title bg-dark">Yesterday</div>
                </div>

                <div class="timeline-entry">
                    <div class="timeline-stat">
                        <div class="timeline-icon bg-info">
                            <i class="fa fa-envelope fa-lg"></i>
                        </div>
                        <div class="timeline-time">15:45</div>
                    </div>
                    <div class="timeline-label">
                        <h4 class="text-info mar-no pad-btm">Lorem ipsum dolor sit amet</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                    </div>
                </div>
                <div class="timeline-entry">
                    <div class="timeline-stat">
                        <div class="timeline-icon bg-success">
                            <i class="fa fa-thumbs-up fa-lg"></i>
                        </div>
                        <div class="timeline-time">13:27</div>
                    </div>
                    <div class="timeline-label">
                        <img class="img-xs img-circle" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Profile picture">
                        <a href="#" class="btn-link text-semibold">Michael Both</a> Like <a href="#">The Article</a>
                    </div>
                </div>
                <div class="timeline-entry">
                    <div class="timeline-stat">
                        <div class="timeline-icon"></div>
                        <div class="timeline-time">11:27</div>
                    </div>
                    <div class="timeline-label">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                    </div>
                </div>
            </div>
            <!--===================================================-->
            <!-- End Timeline -->
        </div>
    </div>
</div>
