@model IEnumerable<INSFIT.Models.Feed>

@{
    ViewData["Title"] = "Index";
}

<h1>Feed</h1>

<link rel="stylesheet" href="~/css/Feed.css">

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-borderless">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CampoTexto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampoImgem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampodePesquisa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPublicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CampoTexto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampoImgem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampodePesquisa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPublicacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Feed">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Feed">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Feed">Delete</a> |
                <a asp-action="Comentarios" asp-route-id="@item.Id_Feed">Comentarios</a>
            </td>
        </tr>
}
    </tbody>
</table>
