@model IEnumerable<INSFIT.Models.Perfil>

@{
    ViewData["Title"] = "Index";
}

<h1>Encontrar amigos</h1>

<table id="tabela-usuarios"class="table">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Email)
            </th >
            <th scope="col">
                @Html.DisplayNameFor(model => model.Altura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Cadastro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Altura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cadastro.email)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
<script src="~/js/site.js"></script>