@model IEnumerable<INSFIT.Models.Relatorio>

@{
    ViewData["Title"] = "Index";
}

<h1>Relatorio</h1>
   
    
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.altura)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_relatorio">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_relatorio">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_relatorio">Delete</a>
            </td>
        </tr>
}
    </tbody>
<head>
    <link rel="stylesheet" href="~/css/Relatorio.css">

</head>

<body>
    

    <div id="container">

        <h2> Dados Básicos</h2>

        <div class="iput_area">

         <p>Qual seu peso ideal?</p>
         
            <input id="pesid" type"number"/>
    </div>

    <div class="iput_area">
            <p>Qual seu peso atual?</p>
            <input id="pesoat" type"number" />
            </div>

              <button onclick="media()">media</button>
    </div>
    </div>

   <div class="container">
        <h2> Calculadora de Imc </h2>

      
   <p> Altura (cm) </p>
    <input id="altura" type="number" />

  
    <p> Peso (kg) </p>
    <input id="peso" type="number" />
  

    <button onclick="calculate()">Calcular</button

    </div>
    <textarea name="" id="text_area" rows="3"> </textarea>
 
    
    <script src="~/js/Relatorio.js"> </script>
</body>
