@model IEnumerable<INSFIT.Models.Relatorio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.altura)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.altura)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_relatorio">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_relatorio">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_relatorio">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
