@model IEnumerable<INSFIT.Models.Relatorio>

@{
    ViewData["Title"] = "Index";
}

<h1>Relatorio</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

   
    
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.altura)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_relatorio">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_relatorio">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_relatorio">Delete</a>
            </td>
        </tr>
}
    </tbody>

<head> 

</head>
<body>
    <h1> Dados Básicos</h1>

    <div id="calcmedia">
         <h2>Qual seu peso ideal?</h2>
            <input id="pesid" type"number"/>

            <h2>Qual seu peso atual?</h2>
            <input id="pesoat" type"number" />

              <button onclick="media()">media</button>
    </div>

    <div id="calculadora">
   <h1> Calculadora de Imc </h1>

   <h2> Altura (cm) </h2>
    <input id="altura" type="number" />
   

    <h2> Peso (kg) </h2>
    <input id="peso" type="number" />
   

    <button onclick="calculate()">Calcular</button>

    <textarea name="" id="text_area"  rows="8"> </textarea>
    </div>

    <script src="~/js/Relatorio.js"> </script>
</body>
