@model IEnumerable<INSFIT.Models.Cadastro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<head>
    <link rel="stylesheet" href="~/css/Cadastro.css">
    

</head>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>

            
          
            <th>
                    @Html.DisplayNameFor(model => model.senha)
            </th>
        

           
            <th>
                @Html.DisplayNameFor(model => model.tipoUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_cadastro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_cadastro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_cadastro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
